.textCenter {
  text-align: center;
  word-break: break-all;
}
.divFlexAlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexSpaceBetween {
  display: flex;
  justify-content: space-around;
}

.formStyleCommon {
  :global(.ant-form-item-explain) {
    width: 200px;
  }
}
